<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Архив пантомимы</title>
	<link rel="stylesheet" href="/static/css/style.css" type="text/css">
	<link rel="stylesheet" href="/static/css/archiv.css" type="text/css">
</head>
<body>
	<div class="wrap">
		<div class="logo">
			<div class="text">
				Пантомима XX века<br/>
				<span>АРХИВНЫЕ МАТЕРИАЛЫ</span>
			</div>
			<img src="/static/img/logo.png" alt="">
		</div>
		<div class="menu">
			<img src="/static/img/clip.png" alt="">
			<ul>
				<li><a href="index.html">Главная</a></li>
				<li><a href="archiv_ot.html">Архив</a></li>
				<li><a href="#">Новости</a></li>
				<li><a href="make.html">Создатели</a></li>
				<li><a href="contact.html">О проекте</a></li>
			</ul>
		</div>
		<div class="content">
			<div class="header">
				<div class="slider">
					<img src="/static/img/slider_bg.jpg" alt="">
				</div>
			</div>
			
			<div class="arch">
				<div class="title">{{ title }}</div>
				<div class="container">
					<div class="selector">
						<a href="{{ video }}">
							<div class="title">Видео</div>
							<img src="/static/img/arch_1.jpg" alt="Видео">
						</a>
					</div>
					<div class="selector">
						<a href="{{ arts }}">
							<div class="title">Статьи</div>
							<img src="/static/img/arch_2.jpg" alt="Статьи">
						</a>
					</div>
					<div class="selector">
						<a href="{{ foto }}">
							<div class="title">Фотографии</div>
							<img src="/static/img/arch_3.jpg" alt="Фотографии">
						</a>
					</div>
					<div class="selector">
						<a href="{{ names }}">
							<div class="title">Имена</div>
							<img src="/static/img/arch_4.jpg" alt="Имена">
						</a>
					</div>
					<div class="selector">
						<a href="{{ books }}">
							<div class="title">Книги</div>
							<img src="/static/img/arch_5.jpg" alt="Книги">
						</a>
					</div>
					<div class="selector">
						<a href="{{ th }}">
							<div class="title">Театры</div>
							<img src="/static/img/arch_6.jpg" alt="Театры">
						</a>
					</div>
				</div>
			</div>
			<div class="footer"></div>
		</div>
	</div>
</body>
</html>