<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Архив пантомимы</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/names.css" type="text/css">
</head>
<body>
	<div class="wrap">
		<div class="logo">
			<div class="text">
				Пантомима XX века<br/>
				<span>АРХИВНЫЕ МАТЕРИАЛЫ</span>
			</div>
			<img src="img/logo.png" alt="">
		</div>
		<div class="menu">
			<img src="img/clip.png" alt="">
			<ul>
				<li><a href="index.html">Главная</a></li>
				<li><a href="archiv_ot.html">Архив</a></li>
				<li><a href="#">Новости</a></li>
				<li><a href="make.html">Создатели</a></li>
				<li><a href="contact.html">О проекте</a></li>
			</ul>
		</div>
		<div class="content">
			<div class="header">
				<div class="slider">
					<img src="img/slider_bg.jpg" alt="">
				</div>
			</div>
			
			<div class="names">
				<div class="title">
					Имена
				</div>
				<div class="letters">
					<a href="#">А</a>
					<a href="#">Б</a>
					<a href="#">В</a>
					<a href="#">Г</a>
					<a href="#">Д</a>
					<a href="#">Е</a>
					<a href="#">Ж</a>
					<a href="#">З</a>
					<a href="#">И</a>
					<a href="#">К</a>
					<a href="#">Л</a>
					<a href="#">М</a>
					<a href="#">Н</a>
					<a href="#">О</a>
					<a href="#">П</a>
					<a href="#">Р</a>
					<a href="#">С</a>
					<a href="#">Т</a>
					<a href="#">У</a>
					<a href="#">Ф</a>
					<a href="#">Х</a>
					<a href="#">Ц</a>
					<a href="#">Ч</a>
					<a href="#">Ш</a>
					<a href="#">Щ</a>
					<a href="#">Э</a>
					<a href="#">Ю</a>
					<a href="#">Я</a>
				</div>
				<div class="container">
					<div class="selector">
						<a href="#">
							<div class="info">
								<div class="text">
									Подробнее
								</div>
							</div>
							<img src="img/names_1.jpg" alt="">
							<div class="title">
								Агаджанян<br/> Феликс
							</div>
						</a>
					</div>
					<div class="selector">
						<div class="info">
							<div class="text">
								Подробнее
							</div>
						</div>
						<img src="img/names_2.jpg" alt="">
						<div class="title">
							Агешин<br/> Борис
						</div>
					</div>
					<div class="selector">
						<img src="img/names_3.jpg" alt="">
						<div class="info">
							<div class="text">
								Подробнее
							</div>
						</div>
						<div class="title">
							Адасинский<br/> Антон
						</div>
					</div>
					<div class="selector">
						<div class="info">
							<div class="text">
								Подробнее
							</div>
						</div>
						<img src="img/names.jpg" alt="">
						<div class="title">
							Адомайтис<br/> Кястус
						</div>
					</div>
					<div class="selector">
						<div class="info">
							<div class="text">
								Подробнее
							</div>
						</div>
						<img src="img/names_5.jpg" alt="">
						<div class="title">
							Амаранов<br/> Борис
						</div>
					</div>
					<div class="selector">
						<div class="info">
							<div class="text">
								Подробнее
							</div>
						</div>
						<img src="img/names.jpg" alt="">
						<div class="title">
							Андреев<br/> Александр
						</div>
					</div>
					<div class="selector">
						<div class="info">
							<div class="text">
								Подробнее
							</div>
						</div>
						<img src="img/names.jpg" alt="">
						<div class="title">
							Афанасьева<br/> Лариса
						</div>
					</div>
				</div>
			</div>

			<div class="footer"></div>
		</div>
	</div>
</body>
</html>